{% extends "base.html" %}

{% block content %}
    <h2>Current Weather</h2>
    <hr>
    
    {% include "includes/weather-form.html" %}
    
    {% if weather_item %}
        <div class="weather-container">
            <h3>Current weather in the city of {{ weather_form.city.data }}</h3>
            <div class="row">
                <div class="col-lg-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>
                                <img src="http://openweathermap.org/img/w/{{ weather_item.icon }}.png" alt="">
                                {{ weather_item.temp }} &deg;
                                {% if weather_form.units.data == "imperial" %}
                                    F
                                {% else %}
                                    C
                                {% endif %}
                            </h4>
                            {{ weather_item.description.title() }} on {{ weather_item.dt | timestamp_to_date }}
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Conditions</td>
                                        <td>{{ weather_item.description }}</td>
                                    </tr>
                                    <tr>
                                        <td>Pressure</td>
                                        <td>{{ weather_item.pressure }}</td>
                                    </tr>
                                    <tr>
                                        <td>Humidity</td>
                                        <td>{{ weather_item.humidity }}</td>
                                    </tr>
                                    <tr>
                                        <td>Wind</td>
                                        <td>{{ weather_item.wind }}</td>
                                    </tr>
                                    <tr>
                                        <td>Sunrise</td>
                                        <td>{{ weather_item.sunrise | timestamp_to_time}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sunset</td>
                                        <td>{{ weather_item.sunset | timestamp_to_time }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}



