{% extends "base.html" %}

{% block content %}
    <h2>16 Day Forecast</h2>
    <hr>

    {% include "includes/weather-form.html" %}

    {% if weather_list %}
        <div class="weather-container">
            <h3>Weather forecast in the city of {{ weather_form.city.data}}</h3>
        </div>
        
        <div class="row">   
            {% for weather_item in weather_list %}

                <div class="col-md-3">
                    {%include "includes/daily-weather.html"%}                    
                </div>
        
            {% endfor %}        
        </div>
    
    {% endif %}

{% endblock %}
